<div class="base bgcolor-0 round-1 container">

  <h2>Reviews</h2>
    <table>
      <thead>
        <tr>
          <th>User ID</th>
          <th>Rating</th>
          <th>Description</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% reviewsList.forEach((review) => { %>
          <tr>
            <td>000 </td>
            <td><%= review.puntaje %></td>
            <td><%= review.text %></td>
            <td><a href="<%= editReviewPath(review) %>">Edit</a></td>
            <td>
              <form action="<%= deleteReviewPath(review) %>" method="POST">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Delete" />
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>

  <a href="<%= newReviewPath %>">New review</a>

</div>