<div class="base bgcolor-0 round-1 container">

<h2>Group</h2>
  <table>
    <thead>
      <tr>
        <th>User ID</th>
        <th>Publication ID</th>
        <th>Reporte</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% reportsList.forEach((reports) => { %>
        <tr>
          <td><%= reports.user_id %></td>
          <td><%= reports.publication_id %></td>
          <td><%= reports.text %> </td>
          <td><a href="<%= editReportsPath(reports) %>">Edit</a></td>
          <td>
            <form action="<%= deleteReportsPath(reports) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<a href="<%= newReportsPath %>">Test a new Report</a>
</div>
